---
title: "The Scholarly Commons: a systems perspective"
description: >
  A creative workshop made of three parts that looks at scholarship and
  scholarly commons from a systems perspective. It reaches from the past to
  the future, and finishes with practical steps to get from here to there.
kind: event
created_at: 2017-08-21
updated_at: 2017-08-23
starts_at: 2017-10-25T12:00:00+02:00
ends_at:   2017-10-25T16:00:00+02:00
tags:
  - Scholarly Commons
  - FORCE11
  - Holism
---

<div class="group" resource="#workshop" typeof="schema:Event">

  <h1 property="schema:name"><%= @item[:title] %></h1>

  <div class="bd">

    <p class="big" property="schema:description"><%= @item[:description] %></p>

    <p class="bigger">
      <time property="schema:startDate" datetime="<%= @item.fetch(:starts_at).iso8601 %>"><%= @item.fetch(:starts_at).to_formatted_s(:long) %></time>--<time property="schema:endDate" datetime="<%= @item.fetch(:ends_at).iso8601 %>"><%= @item.fetch(:ends_at).to_formatted_s(:time) %></time>
      in <span property="schema:location" typeof="schema:Place"><span property="schema:name">Berlin, Germany</span></span>,
      in conjunction with <span property="schema:superEvent" resource="#force2017" typeof="schema:Event"><a property="schema:url" href="http://force2017.org/"><span property="schema:name">FORCE2017</span></a></span>
    </p>

  </div>

</div>

<section about="#workshop" class="noted section" id="sessions">

  <h2>Sessions</h2>

  <div class="numbered" property="schema:subEvents" resource="#sessions" typeof="schema:ItemList">
    <% sessions = @items.find_all('/static/solutions/proposals/F17/a-systems-perspective/**/index.md') %>
    <link property="schema:itemListOrder" resource="schema:itemListOrderAscending" />
    <meta property="schema:numberOfItems" content="<%=h sessions.length %>" datatype="schema:Integer" />
    <% sessions.sort_by { |s| s.identifier }.each_with_index do |session, index| %>
      <%= render('/partials/event.*', item: session, position: index + 1) %>
    <% end %>
  </div>

</section>
