---
title: Colophon
description: >
  A finishing stroke, thanking those who have helped make this possible.
changefreq: monthly
---

<div class="group">

  <h1>Colophon</h1>

  <div class="bd big">
    
    <p>

      In the print tradition, a colophon is a supplement, usually found on the
      last page of a book, where technical details about typefaces, paper, ink
      and binding are found. 

    </p>
    <p>

      The design and creation of this site would have turned out very
      differently were it not for the help of many from the design and
      technology communities. We're following this tradition to give credit and
      description to the many pieces that make up this project.

    </p>
  </div>
</div>
<section class="noted section">

  <h2>The Zeugma Princess</h2>

  <div class="bd">

    <p>

      <em>The Zeugma Princess</em> is our pet name for what is commonly
      referred to as the Gypsy Girl Mosaic fragment. Her eyes seem to convey
      some haunting tale, but she has no mouth to tell us the story. She was
      found in the ancient
      <a href="http://en.wikipedia.org/wiki/Zeugma,_Commagene">city of Zeugma</a>,
      located in the present-day Gaziantep province of Turkey. 
      
    </p>
    <p>
      
      Zeugma was named for its bridge of boats that enabled passage across the
      Euphrates. In Greek,
      <dfn title="zeugma"><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.04.0057%3Aentry%3Dzeu%3Dgma">zeugma</a></dfn>
      literally means <em>bridge</em> or <em>bond</em>. The city reached its
      heights of affluence during the period of Roman rule, which commenced in
      <span class="oldstyle">64</span> <abbr>AD</abbr>. In <abbr>AD</abbr>
      <span class="oldstyle">256</span>, the city was conquered and destroyed by
      <a href="http://en.wikipedia.org/wiki/Shapur_I">King Shapur I</a>
      of the Persian Empire.
      
    </p>
    <p>
      
      The mosaic is now on display at the Gaziantep Museum of Archaeology.
      The <a href="http://commons.wikimedia.org/wiki/File:Antep_erased2.png">original photograph</a>
      was taken there by Nevit Dilman and is now in the public domain.

    </p>
  </div>

  <div class="aside img">
    <img class="retina" src="/images/zeugma_3col.jpg" data-at2x="/images/zeugma.jpg" alt="The zeugma princess" />
  </div>

</section>
<section class="noted section">

  <h2>The Typography</h2>

  <section id="type" class="section">

    <div class="bd">

      <h3 class="flush">Type</h3>

      <p>

        The typeface used on this site is <em>Function Pro</em>, which is a
        redrawing of the
        <a href="http://en.wikipedia.org/wiki/Futura_(typeface)">Futura typeface</a>
        designed by Paul Renner in <span class="oldstyle">1927</span>.
        
      </p>
      <p>

        Renner believed that modern typefaces should not be based on old
        designs. He took letter-forms down to the bare essentials, and built
        Futura with simple geometric shapes, such as the circle, the square,
        and the triangle. The result was a very modern-looking sans-serif,
        that, with the help of the Bauer Type Foundry of Frankfurt, Germany,
        became an enormous success.

      </p>

    </div>

    <div class="aside img">
      <a href="http://en.wikipedia.org/wiki/File:Futura_Specimen.svg">
        <img class="retina" src="/images/Futura_Specimen.png" alt="Futura Specimen" />
      </a>
    </div>

  </section>

  <section id="layout" class="group">

    <div class="bd">

      <h3 class="flush">Layout</h3>

      <p>

        The layout for this site is based upon the principles taught by Josef
        Müller-Brockmann and Robert Bringhurst, including the principles of
        vertical and horizontal rhythm. Vertical rhythm is based on a line
        height of <span class="oldstyle">26</span> pixels, giving a generous
        leading which complements the short x-height of the typeface, allowing
        the text to breathe.

      </p>
      <p>

        Horizontal rhythm is set using a ten-column grid. However, two
        superimposed columns form the structure of most pages: one for text and
        another for buttons and other supplementary material. The width of the
        measure is set to <span class="oldstyle">7</span> columns, or <span
          class="oldstyle">620</span> pixels, wide, which gives a line of about
        <span class="oldstyle">80</span> to <span class="oldstyle">90</span>
        characters. While this is a bit on the wide side, the generous leading
        and a white line between paragraphs help keep the eye on track.

      </p>
      <p>

        The layout is responsive to the size of device or browser window that
        is currently being used to view the web page. Four sizes are supported:
        mobile, mobile landscape, tablet, and desktop. An open-source project
        called the <a href="http://lessframework.com/">Less
          Framework</a>, by Finnish designer <a href="http://jonikorpi.com/"
         >Joni Korpi</a>, was used as the basis for this
        functionality.

      </p>

    </div>

    <div class="aside img">
      <img class="retina" src="/images/pentandra_grid.png" alt="Ten-column grid" />
    </div>

  </section>

</section>
<section class="noted section" prefix="<%= prefix_mappings_for(:voaf, :vann) %>" resource="pentandra-website:project">

  <h2>The Vocabularies</h2>

  <div class="bd">

    <p>

      In general, the syntaxes of <abbr title="HyperText Markup
        Language">HTML5</abbr> is used for the document structure, <abbr
        title="Cascading Style Sheets">CSS</abbr> for the visual design. To
      describe the content and <em>meaning</em> of these web pages in a way
      that can be expressed to a machine, the following vocabularies are used.

    </p>

  </div>
  <section id="sec:standard-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Standard Vocabularies</h3>

      <ul class="none">
        <% STANDARD_PREFIXES.map { |prefix| RDF::Vocabulary.find_by_prefix(prefix) }.each do |vocab| %>
          <li><%= render("/partials/vocab_metadata.*", vocab: vocab) %></li>
        <% end %>
      </ul>

    </div>

  </section>
  <section id="sec:business-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Business Vocabularies</h3>

      <ul class="none">
        <% COMPANY_PREFIXES.map { |prefix| RDF::Vocabulary.find_by_prefix(prefix) }.each do |vocab| %>
          <li><%= render("/partials/vocab_metadata.*", vocab: vocab) %></li>
        <% end %>
      </ul>

    </div>

  </section>
  <section id="sec:document-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Document Vocabularies</h3>

      <ul class="none">
        <% DOCUMENT_PREFIXES.map { |prefix| RDF::Vocabulary.find_by_prefix(prefix) }.each do |vocab| %>
          <li><%= render("/partials/vocab_metadata.*", vocab: vocab) %></li>
        <% end %>
      </ul>

    </div>

  </section>

</section>
<section class="noted section">

  <h2>The Scripts</h2>

  <div class="bd">

    <p>

      Even though a traditional book does not run <a
        href="http://en.wikipedia.org/wiki/ECMAScript">JavaScript</a>, modern
      websites do, so it's fitting that we attribute the many developers that
      have added to the functionality of this site. It would not be the same
      without their contributions.

    </p>
    <ul>

      <li><a href="http://mediaelementjs.com/">MediaElement.js</a>, an <abbr title="Hypertext Markup Language (5th major revision)">HTML5</abbr> video and audio player, with fallbacks for older browsers.</li>

      <li><a href="http://jquery.com/">jQuery</a>, a foundational JavaScript library, used for compatibility with older browsers.</li>

      <li><a href="https://github.com/kswedberg/jquery-smooth-scroll"> jquery-smooth-scroll</a>, a jQuery plugin that handles all of the in-page smooth scrolling.</li>

      <li><a href="http://letteringjs.com/">Lettering.js</a>, a jQuery plugin that helps kern some of the misbehaving section titles.</li>

      <li><a href="https://github.com/yatil/accessifyhtml5.js">AccessifyHTML5</a>, a simple polyfill that adds <a href="http://www.w3.org/TR/wai-aria/"><abbr title="Accessible Rich Internet Applications">ARIA</abbr></a> attributes to the web pages to make this site more accessible to persons with disabilities.</li>

      <li><a href="https://github.com/NYTimes/Emphasis">Emphasis</a>, for dynamic deep-linking and highlighting, by the <a href="http://nyti.ms/MSVgdw" >New York Times</a>.</li>

    </ul>

  </div>
</section>
<section class="noted section" prefix="<%= prefix_mappings_for(:deps) %>" resource="pentandra-website:project">

  <h2>The Build</h2>

  <div class="bd">

    <p>

      The build process does not involve paper, ink, and moveable type, but it does involve many moving pieces. Much of this site is compiled beforehand, using <a href="<%= "http://ruby-doc.org/core-#{Ruby::Version::VERSION}/" %>">Ruby <span class="oldstyle"><%= "#{Ruby::Version::VERSION}" %></span></a>. We are so grateful for the many developers that have contributed their time, talents, and love through these component projects:

    </p>
    <ul>

      <% @items.find_all('/project/dependencies/_*').sort_by(&:identifier).each do |dependency| %>
        <li property="deps:build-requirement" typeof="deps:Dependency">
          <span property="deps:on" datatype="deps:GemId" content="<%= "#{h dependency[:name]} #{h dependency[:version]}" %>">
            <% if dependency[:homepage] %>
              <a rel="doap:homepage" href="<%= h dependency[:homepage] %>" property="doap:name"><%= h dependency[:name] %></a>
            <% else %>
              <span property="doap:name"><%= h dependency[:name] %></span>
            <% end %>
            [<%= h dependency[:version] %>]</span>:
          <span property="doap:shortdesc"><%= h dependency[:summary] %></span>
        </li>
      <% end %>

    </ul>

  </div>
</section>
