---
title: Colophon
description: >
  A finishing stroke, thanking those who have helped make this possible.
changefreq: monthly
---

<div class="group">

  <h1>Colophon</h1>

  <div class="bd big">
    
    <p>

      In the print tradition, a colophon is a supplement, usually found on the
      last page of a book, where technical details about typefaces, paper, ink
      and binding are found. 

    </p>
    <p>

      The design and creation of this site would have turned out very
      differently were it not for the help of many from the design and
      technology communities. We're following this tradition to give credit and
      description to the many pieces that make up this project.

    </p>
  </div>
</div>
<section class="noted section">

  <h2>The Zeugma Princess</h2>

  <div class="bd">

    <p>

      <em>The Zeugma Princess</em> is our pet name for what is commonly
      referred to as the Gypsy Girl Mosaic fragment. Her eyes seem to convey
      some haunting tale, but she has no mouth to tell us the story. She was
      found in the ancient
      <a href="http://en.wikipedia.org/wiki/Zeugma,_Commagene">city of Zeugma</a>,
      located in the present-day Gaziantep province of Turkey. 
      
    </p>
    <p>
      
      Zeugma was named for its bridge of boats that enabled passage across the
      Euphrates. In Greek,
      <dfn title="zeugma"><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.04.0057%3Aentry%3Dzeu%3Dgma">zeugma</a></dfn>
      literally means <em>bridge</em> or <em>bond</em>. The city reached its
      heights of affluence during the period of Roman rule, which commenced in
      <span class="oldstyle">64</span> <abbr>AD</abbr>. In <abbr>AD</abbr>
      <span class="oldstyle">256</span>, the city was conquered and destroyed by
      <a href="http://en.wikipedia.org/wiki/Shapur_I">King Shapur I</a>
      of the Persian Empire.
      
    </p>
    <p>
      
      The mosaic is now on display at the Gaziantep Museum of Archaeology.
      The <a href="http://commons.wikimedia.org/wiki/File:Antep_erased2.png">original photograph</a>
      was taken there by Nevit Dilman and is now in the public domain.

    </p>
  </div>

  <div class="aside img">
    <img class="retina" src="/images/zeugma_3col.jpg" data-at2x="/images/zeugma.jpg" alt="The zeugma princess" />
  </div>

</section>
<section class="noted section">

  <h2>The Typography</h2>

  <section id="type" class="section">

    <div class="bd">

      <h3 class="flush">Type</h3>

      <p>

        The typeface used on this site is <em>Function Pro</em>, which is a
        redrawing of the
        <a href="http://en.wikipedia.org/wiki/Futura_(typeface)">Futura typeface</a>
        designed by Paul Renner in <span class="oldstyle">1927</span>.
        
      </p>
      <p>

        Renner believed that modern typefaces should not be based on old
        designs. He took letter-forms down to the bare essentials, and built
        Futura with simple geometric shapes, such as the circle, the square,
        and the triangle. The result was a very modern-looking sans-serif,
        that, with the help of the Bauer Type Foundry of Frankfurt, Germany,
        became an enormous success.

      </p>

    </div>

    <div class="aside img">
      <a href="http://en.wikipedia.org/wiki/File:Futura_Specimen.svg">
        <img class="retina" src="/images/Futura_Specimen.png" alt="Futura Specimen" />
      </a>
    </div>

  </section>

  <section id="layout" class="group">

    <div class="bd">

      <h3 class="flush">Layout</h3>

      <p>

        The layout for this site is based upon the principles taught by Josef
        Müller-Brockmann and Robert Bringhurst, including the principles of
        vertical and horizontal rhythm. Vertical rhythm is based on a line
        height of <span class="oldstyle">26</span> pixels, giving a generous
        leading which complements the short x-height of the typeface, allowing
        the text to breathe.

      </p>
      <p>

        Horizontal rhythm is set using a ten-column grid. However, two
        superimposed columns form the structure of most pages: one for text and
        another for buttons and other supplementary material. The width of the
        measure is set to <span class="oldstyle">7</span> columns, or <span
          class="oldstyle">620</span> pixels, wide, which gives a line of about
        <span class="oldstyle">80</span> to <span class="oldstyle">90</span>
        characters. While this is a bit on the wide side, the generous leading
        and a white line between paragraphs help keep the eye on track.

      </p>
      <p>

        The layout is responsive to the size of device or browser window that
        is currently being used to view the web page. Four sizes are supported:
        mobile, mobile landscape, tablet, and desktop. An open-source project
        called the <a href="http://lessframework.com/">Less
          Framework</a>, by Finnish designer <a href="http://jonikorpi.com/"
         >Joni Korpi</a>, was used as the basis for this
        functionality.

      </p>

    </div>

    <div class="aside img">
      <img class="retina" src="/images/pentandra_grid.png" alt="Ten-column grid" />
    </div>

  </section>

</section>
<section class="noted section" prefix="<%= prefix_mappings_for(:voaf, :vann, :void) %>" resource="pentandra-website:dataset" typeof="void:DatasetDescription">

  <h2>The Vocabularies</h2>

  <div class="bd">

    <p>

      To describe the content of this site in a way that its <em>meaning</em>
      can be processed by a machine, we have incorporated machine vocabularies
      in the form of embedded attributes in the markup of these web pages,
      using an <a href="https://en.wikipedia.org/wiki/Open_Web_Platform"
        title="Open Web Platform on Wikipedia">Open Web</a> standard called <a
        href="https://www.w3.org/TR/rdfa-core/"><abbr title="Resource Description Framework through Attributes">RDFa</abbr></a>.

    </p>
    <p>

      Doing so makes it possible for not only people to read the content of
      this site, but for intelligent machine agents to distill and incorporate
      meaning from the content, and then to connect knowledge together across
      the Web.

    </p>

  </div>
  <section id="sec:standard-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Standard Vocabularies</h3>

      <%= render('/partials/vocab_metadata.*', group: :standard) %>

    </div>

  </section>
  <section id="sec:business-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Business Vocabularies</h3>

      <%= render('/partials/vocab_metadata.*', group: :business) %>

    </div>

  </section>
  <section id="sec:document-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Document Vocabularies</h3>

      <%= render('/partials/vocab_metadata.*', group: :document) %>

    </div>

  </section>
  <section id="sec:technical-vocabularies" class="section">

    <div class="bd">

      <h3 class="flush">Technical Vocabularies</h3>

      <p>

        These vocabularies are used to describe things that are more technical
        in nature, such as software projects and the machine-oriented
        vocabularies or ontologies that we are creating in our <a
          href="/specifications/">specifications playground</a>.

      </p>

      <%= render('/partials/vocab_metadata.*', group: :technical) %>

    </div>

  </section>

</section>
<section class="noted section">

  <h2>The Scripts</h2>

  <div class="bd">

    <p>

      Even though a traditional book does not run <a
        href="http://en.wikipedia.org/wiki/ECMAScript">JavaScript</a>, modern
      websites do, so it's fitting that we attribute the many developers that
      have added to the functionality of this site. It would not be the same
      without their contributions.

    </p>
    <ul>

      <li><a href="http://mediaelementjs.com/"><code class="projectname">MediaElement.js</code></a>, an <abbr title="Hypertext Markup Language (5th major revision)">HTML5</abbr> video and audio player, with fallbacks for older browsers.</li>

      <li><a href="http://jquery.com/"><code class="projectname">jQuery</code></a>, a foundational JavaScript library, used for compatibility with older browsers.</li>

      <li><a href="https://github.com/kswedberg/jquery-smooth-scroll"><code class="projectname">jquery-smooth-scroll</code></a>, a jQuery plugin that handles all of the in-page smooth scrolling.</li>

      <li><a href="http://letteringjs.com/"><code class="projectname">Lettering.js</code></a>, a jQuery plugin that helps kern some of the misbehaving section titles.</li>

      <li><a href="https://github.com/yatil/accessifyhtml5.js"><code class="projectname">AccessifyHTML5</code></a>, a simple polyfill that adds <a href="http://www.w3.org/TR/wai-aria/"><abbr title="Accessible Rich Internet Applications">ARIA</abbr></a> attributes to the web pages to make this site more accessible to persons with disabilities.</li>

      <li><a href="https://github.com/NYTimes/Emphasis"><code class="projectname">Emphasis</code></a>, for dynamic deep-linking and highlighting, by the <a href="http://nyti.ms/MSVgdw" >New York Times</a>.</li>

    </ul>

  </div>
</section>
<section class="noted section" prefix="<%= prefix_mappings_for(:deps) %>" resource="pentandra-website:project">

  <h2>The Build</h2>

  <div class="bd">

    <p>

      The build process does not involve paper, ink, and moveable type, but it
      does involve many moving pieces. Much of this site is statically compiled
      using the excellent <a href="http://nanoc.ws/">Nanoc</a> project and <%=
      ruby_desc %>. This approach gives us the best of both worlds: the
      flexibility to decide which pieces of this site would be more
      advantageous to compile beforehand, and which would be more appropriate
      to generate dynamically the moment they are needed.

    </p>
  </div>
  <div class="aside img section">
    <img data-no-retina src="/images/nanoc.png" alt="Nanoc logo: a bold red 'N' character centered within a dark grey circle, on a grey background." />
  </div>
  <section id="sec:default-dependencies" class="section">

    <div class="bd">

      <h3 class="flush">Buildtime Dependencies</h3>

      <p class="foreign">

        <%= authors_of(dependencies_for(:default)).to_sentence %>.

      </p>

      <%= render('/partials/dependency_metadata.*', group: :default) %>

    </div>

  </section>
  <section id="sec:development-dependencies" class="section">

    <div class="bd">

      <h3 class="flush">Development Dependencies</h3>

      <p>

        There are certain tools that we used in preparing and developing this project.

        <span class="foreign"><%= authors_of(dependencies_for(:development)).to_sentence %>.</span>

      </p>

      <%= render('/partials/dependency_metadata.*', group: :development) %>

    </div>

  </section>
  <section id="sec:os-gratitude" class="section">

    <div class="bd">

      <h3 class="flush">Foundational Infrastructures</h3>

      <p>

        We also need to acknowledge (though I think it would be impossible to
        do so properly) the thousands of developers that have contributed to
        the many Unix-related infrastructures and middlewares on top of which
        we have built this project, specifically those from the <a
          href="https://www.archlinux.org">Arch Linux</a>, <a
          href="https://www.centos.org/">CentOS</a>, and <a
          href="https://wiki.smartos.org/display/DOC/Home">SmartOS</a>
        communities. The breadth and scope of the effort required to create and
        maintain these infrastructures, as well as the good that has come into
        the world because of them, is unfathomable.

      </p>

    </div>
  </section>
</section>
<section class="noted section">

  <h2>The Server</h2>

  <div class="bd">
  </div>
  <div class="aside img section">
    <img data-no-retina src="/images/openresty.jpg" alt="OpenResty logo: a green, finely articulated bird formed in the cyclical shape of an event loop, the beak almost touching the tail." />
  </div>
</section>
