<% render('/blog/default.*') do %>
  <article class="group h-entry" resource="#blogpost" typeof="cc:Work schema:BlogPosting sioct:BlogPost" property="ctag:tagged">
    <header class="section">
      <h1 class="p-name" property="dc:title schema:headline"><%= @item[:title] %></h1>
      <div class="group meta">
        <div class="bd up">
          <div>
            Written <time class="dt-published" property="dc:created schema:datePublished" datetime="<%= @item[:created_at] %>"><%= @item[:created_at].strftime("%B %d, %Y") %></time>
            by
            <%= link_for_author(@item[:author_name]) %>
          </div>
          <% if @item[:updated_at] > @item[:created_at] then %>
          <div>
            Last Updated <time class="dt-updated" property="dc:modified schema:dateModified" datetime="<%= @item[:updated_at] %>"><%= @item[:updated_at].strftime("%B %d, %Y") %></time>
          </div>
          <% end %>
          <meta property="schema:copyrightYear" datatype="xsd:gYear" content="<%= @item[:updated_at].year %>" />
          <link property="schema:isPartOf sioc:has_container" href="/blog/#blog" />
        </div>
      </div>
    </header>
    <div class="bd">
      <div class="post section e-content" property="schema:articleBody sioc:content">
        <%= yield %>
      </div>
      <%= render('/blog/partials/comments.*') %>
    </div>
    <%= render('/blog/partials/sidebar.*') %>
  </article>
<% end %>
