<% render('/default.*') do %>
  <article class="group h-entry" resource="#essay" typeof="cc:Work schema:BlogPosting ctag:TaggedContent" property="schema:mainEntity">
    <header class="section">
      <h1 class="p-name" property="dc:title schema:headline" id="title"><%= @item[:title] %></h1>
      <div class="group meta" id="document-context">
        <div class="bd up">
          <ul class="none">
            <li>By <%= link_for_author(@item[:author_name]) %></li>
            <li>
              <% created_at, updated_at = date_or_time(@item.fetch(:created_at)), date_or_time(@item.fetch(:updated_at)) %>
              <% if (published_at = @item[:published_at]) %>
                <% if published_at == created_at %>
                  Written and published on <time class="dt-published" property="dc:created schema:dateCreated schema:datePublished" datetime="<%= created_at.iso8601 %>"><%= created_at.to_formatted_s(:long) %></time>
                <% else %>
                  Written starting <time property="dc:created schema:dateCreated" datetime="<%= created_at.iso8601 %>"><%= created_at.to_formatted_s(:long) %></time> and published on <time class="dt-published" property="schema:datePublished" datetime="<%= published_at.iso8601 %>"><%= published_at.to_formatted_s(:long) %></time>
                <% end %>
              <% else%>
                Written starting <time property="dc:created" datetime="<%= created_at.iso8601 %>"><%= created_at.to_formatted_s(:long) %></time> and not yet published
              <% end %>
            </li>
            <% if updated_at > created_at %>
              <li>
                Last Updated <time class="dt-updated" property="dc:modified schema:dateModified" datetime="<%= updated_at.iso8601 %>"><%= updated_at.to_formatted_s(:long) %></time>
              </li>
            <% end %>
          </ul>
          <%= render('/partials/part_of_series.*') if @item[:part_of_id] %>
          <meta property="schema:copyrightYear" datatype="xsd:gYear" content="<%= created_at.year %>" />
          <link property="rdfa:copy" resource="pentandra-website:license" />
          <link property="schema:isPartOf sioc:has_container" resource="pentandra-blog:blog" />
        </div>
      </div>
    </header>
    <div class="bd">
      <div id="content" class="post section e-content" property="schema:articleBody sioc:content" datatype="rdf:HTML">
        <%= yield %>
      </div>
    </div>
    <%= render('/blog/partials/sidebar.*') %>
  </article>
<% end %>
