<% render('/blog/default.*') do %>
  <div class="group">

    <h1 property="schema:name"><%= "#{h tag[:tag]}" %> Articles</h1>

    <% if tag[:semantic] %>
    <div class="bd">
      <p class="big">
        
        The <span class="tags"><%= link_for_tag(tag) %></span> tag represents the concept <a href="<%= tag[:uri] %>" title="<%= tag[:label] %> on DBpedia"><cite><%= tag[:label].downcase %></cite></a>, which is described as follows:
      
      </p>
      <% filter(:abbreviate, type: :html) do %>
        <figure id="fig:<%= tag[:tag].to_slug %>" class="bq rev" resource="#<%= tag[:tag].to_slug('_') %>" typeof="schema:CreativeWork">
          <blockquote property="schema:text" cite="<%= tag[:uri] %>">
            <%= parse_abstract(tag[:abstract]) %>
          </blockquote>
          <figcaption>--- <a property="dc:title" rel="cc:attributionURL prov:wasDerivedFrom" href="<%= tag[:primaryTopicOf] %>"><cite><%= tag[:label] %></cite> on <b property="cc:attributionName">Wikipedia</b></a>, licensed under a <a property="cc:license" href="http://creativecommons.org/licenses/by-sa/3.0/"><abbr title="Creative Commons Attribution-ShareAlike 3.0 Unported" >CC-BY-SA</abbr> license</a>. <span class="small"><span class="icon-cc"></span><span class="icon-cc-by"></span><span class="icon-cc-sa"></span></span></figcaption>
        </figure>
      <% end %>
    </div>
    <% end %>
  </div>

  <% tagged_items = items_with_tag(tag, published_weblog) %>
  <div property="schema:hasPart" resource="pentandra-website:items_tagged_<%= tag[:tag].to_slug('_') %>" typeof="schema:ItemList">
    <link property="schema:itemListOrder" resource="schema:itemListOrderDescending" />
    <meta property="schema:numberOfItems" content="<%= h tagged_items.length %>" datatype="schema:Integer" />
    <% tagged_items.each_with_index do |tagged, index| %>
      <%= render('/blog/partials/summary.*', item: tagged, position: index + 1) %>
    <% end %>
  </div>

<% end %>
