<% author = person_by_name(item[:author_name]) %>
<div class="section banner citations">
  <h3 class="big">Citations</h3>
  <p>If you're into copy and paste, use these snippets, listed here in order of decreasing universality, to link to or cite this post.</p>
  <label>
    <abbr title="Universal Resource Identifier">URI</abbr> of this <%= item.fetch(:kind) %>
    <input readonly="readonly" class="bookmark u-uid u-url uri" type="url" value="<%= "#{path_to(item, absolute: true)}##{item.fetch(:kind)}" %>">
  </label>
  <label>
    <abbr title="HyperText Markup Language">HTML</abbr><span class="math">+</span><abbr title="Resource Description Framework in Attributes">RDFa</abbr>
    <input readonly="readonly" type="text" class="code" value="<%= h %[<span vocab="http://schema.org/" property="citation" typeof="BlogPosting"><a property="title" rel="url" href="#{path_to(item, absolute: true)}##{item.fetch(:kind)}"><cite>#{item[:title]}</cite></a> (<span property="author" resource="#{web_id(author)}" typeof="Person"><abbr property="name" content="#{item[:author_name]}" title="#{item[:author_name]}">#{author[:last_name]}</abbr></span> <time property="datePublished">#{simple_date(:published_at, item: item)}</time>)</span>] %>">
  </label>
  <label>
    <abbr title="HyperText Markup Language">HTML</abbr><span class="math">+</span>microformats
    <input readonly="readonly" type="text" class="code" value="<%= h %[<span class="h-cite"><a class="u-url p-name" href="#{path_to(item, absolute: true)}"><cite>#{item[:title]}</cite></a> (<abbr class="p-author h-card" title="#{item[:author_name]}">#{author[:last_name]}</abbr> <time class="dt-published">#{simple_date(:published_at, item: item)}</time>)</span>] %>">
  </label>
  <label>
    <abbr title="A TeX extension package for bibliographic citations">BibTeX</abbr>
    <textarea rows="10" readonly="readonly" class="code" wrap="off">
<% if item[:kind] == 'note' %>
@misc{<%= bibtex_key(item, author) %>,
<% elsif item[:kind] == 'presentation' %>
@inproceedings{<%= bibtex_key(item, author) %>,
<% else %>
@article{<%= bibtex_key(item, author) %>,
  journal = {<%= @config[:site][:name] %>},
<% end %>
  title = {<%= item[:title] %>},
  author = {<%= [author.fetch(:last_name), author.fetch(:first_name)].join(', ') %>},
  month = <%= attribute_to_time(item[:published_at]).strftime('%b').downcase %>,
  year = {<%= attribute_to_time(item[:published_at]).year %>},
  version = {<%= simple_date(:updated_at, item: item) %>},
  type = {<%= item[:kind].capitalize %>},
  url = {<%= path_to(item, absolute: true) %>},
}</textarea>
  </label>
</div>
