<section property="schema:hasPart" class="section" resource="pentandra-blog:latest-articles" typeof="schema:ItemList">
  <h3 class="visuallyhidden">Latest Articles</h3>
  <div class="bd">
    <link property="schema:itemListOrder" resource="schema:itemListOrderDescending" />
    <meta property="schema:numberOfItems" content="<%= @limit %>" datatype="schema:Integer" />
    <% published_blog_posts.first(@limit).each_with_index do |post, index| %>
      <div property="schema:itemListElement" typeof="schema:ListItem">
        <meta property="schema:position" content="<%= "#{index + 1}" %>" />
        <article class="excerpt" property="schema:item" resource="<%= path_to(post) %>#blogpost" typeof="schema:BlogPosting">
          <a href="<%= path_to(post) %>" rel="bookmark" property="schema:url">
            <time class="small bold" property="schema:datePublished" datetime="<%= date_or_time(post.fetch(:published_at)).iso8601 %>"><%= post.fetch(:published_at).to_formatted_s(:date).ndashed %></time>&#8194;<h3 class="normal" property="schema:name"><%= h post[:short_title] || post[:title] %></h3>
          </a>
          <link property="schema:isPartOf" resource="pentandra-blog:blog" />
        </article>
      </div>
    <% end %>
  </div>
</section>
