<footer class="pop section blogmeta">
  <div class="bd">
    <div class="aside">
      <nav>
        <h2 class="big">Authors</h2>
        <ul>
        <% authors(weblog).sort.each do |author| %>
          <li><%= link_for_author(author, rel_author: false) %></li>
        <% end %>
        </ul>
      </nav>
    </div>
    <nav class="menu inner">
      <h2 class="big"><%= "Tags A-Z".ndashed %></h2>
      <div class="group menu">
        <ul class="tags">
        <% tag_set(weblog).sort.each do |tag| %>
          <li><%= link_for_tag(tag, rel_tag: false) %></li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <div class="aside">
    <nav>
      <h2 class="big">Archives</h2>
      <ul>
        <li><%= link_to('Most Recent', '/blog/recent/') %></li>
        <% archive_years(weblog).sort.reverse_each do |year| %>
        <li><%= link_for_archive(year) %></li>
        <% end %>
        <li><%= link_to('Everything', '/blog/') %></li>
      </ul>
    </nav>
  </div>
</footer>
