<article property="schema:blogPost ctag:tagged" typeof="cc:Work schema:BlogPosting" resource="<%= @item.path %>#blogpost" class="noted section excerpt">
  <div class="bd">
    <h2 class="bigger">
      <a property="schema:url" rel="bookmark" title="Full article" href="<%= @item.path %>"><span property="dc:title schema:name"><%= @item[:title] %></span></a>
    </h2>
    <p><%= @item[:description] %></p>
  </div>
  <%= render('/blog/partials/created_on.*') %>
  <link property="schema:isPartOf" resource="pentandra-blog:blog" />
  <link property="rdfa:copy" resource="pentandra-website:license" />
</article>
