<!--[if lt IE 7]><p class="grab">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<header id="banner" role="banner" class="group">
  <div class="section">
    <div class="content">
      <a href="/" class="ir logotype" about="pentandra-website:website" typeof="schema:WebSite" rel="schema:url" property="schema:name"><%= @config[:site][:name] %></a></span>
      <nav role="navigation" class="menu group" property="schema:hasPart" resource="#mainmenu" typeof="schema:SiteNavigationElement">
        <ul>
          <li><%= link_to('Solutions', '/solutions/', class: "button") %></li>
          <li><%= link_to('Research', '/research/', class: "button") %></li>
          <li><%= link_to('Company', '/company/', class: "button") %></li>
          <li><%= link_to('Open', '/open/', class: "button") %></li>
          <li><%= link_to('Blog', '/blog/recent/', class: "button") %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
