<dl resource="<%= h vocab.to_uri %>" property="void:vocabulary" typeof="voaf:Vocabulary">
  <dt><a property="vann:preferredNamespaceUri" content="<%= h vocab.to_uri %>" href="<%= h vocab.to_uri %>"><abbr property="vann:preferredNamespacePrefix"><%= h vocab.__prefix__ %></abbr></a>: <span property="dc:title"><%= h ontology(vocab).fetch(:title) %></span></dt>
  <dd property="dc:description"><%= h ontology(vocab).fetch(:description) %></dd><%# TODO: cleanup description %>
</dl>
