<!doctype html>
<% lang = Locale.create_language_tag(@item.fetch(:lang) { Locale.default }).to_rfc %>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= lang %>"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="<%= lang %>"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="<%= lang %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= lang %>"> <!--<![endif]-->
  <head prefix="<%= prefix_mappings_for(:open_graph) %>">

    <meta charset="<%= @item.fetch(:charset) { Locale.charset } %>" />
    <title><%=h @item[:full_title] || "#{@item[:title]} â† #{@config[:site][:name]}" %></title>
    <meta name="description" content="<%=h @item[:meta_description] || @item[:description] || @item[:title] %>" />
    <meta name="generator" content="Nanoc <%=h @config[:nanoc_version] %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="<%= path_to(@items['/static/assets/stylesheets/main.scss']) %>" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <%= render('/partials/opengraph.*') %>

    <%= render('/partials/twittercard.*') %>

    <script src="/js/modernizr.custom.40730.js"></script>

    <%= render('/blog/partials/atom_discovery.*') %>

    <% for p in @item.fetch(:head, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

  </head>

  <body prefix="<%= prefix_mappings_for(:standard, :business, :pentandra, :doap) %>" about="" property="schema:isPartOf" resource="pentandra-website:website" typeof="schema:WebPage cc:Work prov:Entity"<%= %( class="#{@item[:kind]}") if @item[:kind] %>>

    <% for p in @item.fetch(:beginbody, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

    <%= yield %>

    <script src="<%= path_to(@items['/static/assets/scripts/all.js.erb']) %>"></script>

    <% for p in @item.fetch(:endbody, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

    <%= content_for(@item, :javascripts) %>

    <%= render('/partials/devtools.*') unless @config[:production] %>

  </body>

</html>
