<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>

    <meta charset="utf-8" />
    <title><%= @item[:title] %> â† <%= @config[:site][:name] %></title>
    <meta name="description" content="<%= @item[:meta_description] || @item[:description] || @item[:title] %>" />
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION.to_s %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <script src="/js/modernizr.custom.40730.js"></script>

    <%= render('/partials/atom-discovery.*', title: "#{@config[:blog][:title]} Feed", feed_url: @config[:blog][:feed_url]) %>

    <% for p in @item.fetch(:head, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

  </head>

  <body prefix="cc: http://creativecommons.org/ns# ctag: http://commontag.org/ns# dbr: http://dbpedia.org/resource/ dc: http://purl.org/dc/terms/ deo: http://purl.org/spar/deo/ doap: http://usefulinc.com/ns/doap# essglobal: http://purl.org/essglobal/vocab/ fea: http://vocab.data.gov/def/fea# foaf: http://xmlns.com/foaf/0.1/ oa: http://www.w3.org/ns/oa# org: http://www.w3.org/ns/org# owl: http://www.w3.org/2002/07/owl# pentandra: <%= "#{@config[:base_url]}#{company_path}#" %> pentandra-website: <%= "#{@config[:base_url]}#" %> prov: http://www.w3.org/ns/prov# qb: http://purl.org/linked-data/cube# rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# rdfa: http://www.w3.org/ns/rdfa# rdfs: http://www.w3.org/2000/01/rdf-schema# schema: http://schema.org/ sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# vcard: http://www.w3.org/2006/vcard/ns# xhv: http://www.w3.org/1999/xhtml/vocab# xsd: http://www.w3.org/2001/XMLSchema#" about="" property="schema:isPartOf" resource="pentandra-website:website" typeof="schema:WebPage cc:Work prov:Entity">

    <% for p in @item.fetch(:beginbody, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

    <%= yield %>

    <script src="/js/all.js"></script>

    <% for p in @item.fetch(:endbody, []) %>
      <%= render("/partials/#{p}.*") %>
    <% end %>

    <%= content_for(@item, :javascripts) %>

    <%= render('/partials/devtools.*') unless @config[:production] %>

  </body>

</html>
